<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB82qXQIZ4l7zWh3zKVbwxzeIQJ7LzloIM</string>
	<key>GCM_SENDER_ID</key>
	<string>932203931441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDevcampUi</string>
	<key>PROJECT_ID</key>
	<string>fir-devcamp-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-devcamp-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932203931441:ios:7402a7227cdbd9c7c97210</string>
</dict>
</plist>